/**** section form section ****/

.form__section,
.form,
.form__group {
    display: flex;
    flex-direction: column;
}

.form__section__title {
    margin-bottom: 50px;
}

.form__section__text {
    margin-bottom: 30px;
}

.form {
    margin-top: 30px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    gap: calc(var(--spacing-unit) * 10);
}

.form__group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 2px solid var(--dark);
    border-radius: 12px;
    background-color: var(--white);
    font-family: var(--font-bdo);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p);
    transition: border-color 0.3s ease-in-out;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

input:focus,
textarea:focus {
    border-color: var(--orange)
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

.form__group p {
    margin-top: 8px;
    font-weight: var(--font-weight-medium);
    color: var(--orange);
    font-size: 1rem;
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 572px) {

    input,
    textarea {
        font-size: 1.1rem;
    }

    textarea {
        min-height: 220px;
    }
}