/***** Importation des polices ****/

@font-face {
    font-family: "BDO Grotesk";
    src: url(fonts/BDOGrotesk-VF.ttf) format("truetype");
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url(fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf) format("truetype");
}

/**** Variables *****/

:root {
    /* Couleurs */
    --dark: #1e1e1e;
    --white: #ddd9d6;
    --orange: #ff4f2d;
    --green: #00be50;

    /* Polices */
    --font-bdo: "BDO Grotesk", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;

    /* Taille des polices */
    --font-size-p: 1.2rem;
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.8rem;

    /* Gras */
    --font-weight-regular: 500;
    --font-weight-medium: 600;

    /* Hauteur de ligne */
    --line-height-p: 1.8rem;
    --line-height-h1: 3.5rem;
    --line-height-h2: 3.2rem;
    --line-height-h3: 2rem;

    /* Espacement (Base: 2px / 0.125rem) */
    --spacing-unit: 0.125rem;
}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--font-bricolage);
    font-weight: var(--font-weight-medium);
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p);
}

body,
p {
    font-family: var(--font-bdo);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button,
input,
textarea {
    outline: none;
}

button {
    background: none;
    border: none;
    font-family: var(--font-bdo);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-p);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

::selection {
    color: var(--dark);
    background: var(--orange);
}

/**** html ****/

html {
    scroll-behavior: smooth;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-p);
    color: var(--dark);
    background-color: var(--white);
}

header,
footer,
section,
main {
    max-width: 1440px;
}

/**** header ****/

header {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing-unit) * 15);
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: var(--white);
}

.btn__primary {
    background-color: var(--orange);
    color: var(--dark);
    padding: 12px 20px;
    transition: border-radius 0.3s ease-in-out;
}

.btn__primary:hover {
    border-radius: 12px;
}

/**** main ****/

.main__content {
    width: 100%;
    flex-grow: 1;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 30px 30px;
    padding: 100px calc(var(--spacing-unit) * 15) 0 calc(var(--spacing-unit) * 15);
}

/**** section ****/

section {
    width: 100%;
    padding-top: 100px;
}

/**** section hero ****/

.hero,
.hero__div__slogan {
    display: flex;
    flex-direction: column;
}

.hero {
    gap: 100px;
}

.hero__div {
    width: 100%;
    height: 350px;
    border-radius: 12px;
}

.hero__div__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.hero__div__slogan {
    gap: 30px;
    align-items: center;
}

.main__title {
    text-align: center;
}

/**** section events ****/

.events__list {
    display: flex;
    flex-direction: column;
}

.events__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.events__list {
    width: 50%;
    padding-top: 69px;
}

.events__list li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--dark);
    transition: transform 0.3s ease-in-out;
}

.events__list li:hover {
    transform: scale(1.02);
}

.event__link {
    color: var(--dark);
}

/**** footer ****/

footer {
    position: relative;
    margin-top: -50px;
    z-index: 0;
    width: 100%;
    color: var(--white);
    background-color: var(--dark);
    padding: 50px calc(var(--spacing-unit) * 15);
    gap: 50px;
}

footer::before {
    content: "";
    position: relative;
    display: block;
}

.logo {
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 180px;
}

.logo,
.footer__container {
    display: flex;
    align-items: center;
}

.footer__container {
    justify-content: space-between;
}

.footer__container img {
    max-width: 200px;
}

footer,
.footer__info,
.footer__contact {
    display: flex;
    flex-direction: column;
}

.footer__info {
    gap: 30px;
}

.footer__contact {
    gap: 10px;
}

.link {
    color: var(--white);
}

iframe,
.footer__info {
    width: 45%;
}

iframe {
    border-radius: 12px;
    border: none;
    height: 400px;
    transition: transform 0.3s ease-out;
}

iframe:hover {
    transform: scale(1.02);
}

.copyright {
    margin-top: 15px;
}

/**** Responsive design version tablette ****/

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 2.8rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .hero {
        gap: 50px;
    }

    .hero__div {
        height: 250px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__info {
        margin-top: 30px;
    }

    .footer__info,
    .footer__contact {
        align-items: center;
        justify-content: center;
    }

    .footer__info,
    iframe {
        width: 100%;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 572px) {
    h1 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    p,
    a {
        font-size: 1.1rem;
    }

    section {
        padding-top: 50px;
    }

    .events__section {
        flex-direction: column;
        padding-bottom: 50px;
    }

    .events__list {
        width: 100%;
        padding-top: 50px;
    }

    iframe {
        height: 250px;
    }
}