/**** section hero ****/

.hero,
.hero__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
    max-width: 1440px;
    padding: 100px 0;
    gap: 100px;
}

.hero__div {
    max-width: 800px;
    gap: 30px;
}

.hero__img-2,
.hero__img-3 {
    position: absolute;
    border: 25px solid var(--white);
}

.hero__img-2 {
    left: 725px;
    top: 490px;
}

.hero__img-3 {
    left: -957px;
    top: 548px;
}

/**** section atelier__presentation ****/

.atelier__presentation {
    padding-bottom: 100px;
    gap: 100px;
}

.atelier__presentation h2 {
    padding-top: 200px;
}

.atelier__presentation {
    display: flex;
    flex-direction: column;
}

/**** Media queries ****/

/**** Responsive design version desktop ****/

@media screen and (max-width: 1024px) {

    .hero__img-2,
    .hero__img-3 {
        visibility: hidden;
    }

    .atelier__presentation {
        padding: 50px 0 200px 0;
    }

    .atelier__presentation h2 {
        padding-top: 0;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 475px) {
    .hero {
        padding: 50px 0;
    }
}