/**** section ****/

section {
    width: 100%;
}

/**** section hero ****/

.hero,
.hero__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
    max-width: 1200px;
    padding: 100px 0;
    gap: 100px;
}

.hero__div {
    max-width: 800px;
    gap: 30px;
}

.main__title {
    text-align: center;
}

.hero__img-1 {
    width: 100%;
}

.hero__img-2,
.hero__img-3 {
    position: absolute;
    border: 25px solid var(--white);
}

.hero__img-2 {
    left: 725px;
    top: 490px;
}

.hero__img-3 {
    left: -957px;
    top: 548px;
}

/**** section atelier__presentation ****/

.atelier__presentation {
    padding: 100px 0;
    gap: 100px;
}

.atelier__presentation h2 {
    padding-top: 150px;
}

.atelier__presentation,
.projects__list {
    display: flex;
    flex-direction: column;
}

.projects__section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.projects__list {
    width: 50%;
}

.project__card {
    width: 100%;
    padding: 20px 0;
    color: var(--dark);
    border-bottom: 1px solid var(--dark);
    transition: transform 0.3s ease-in-out;
}

.project__card:hover {
    transform: scale(1.04);
}

/**** Media queries ****/

/**** Responsive design version desktop ****/

@media screen and (max-width: 1024px) {

    .hero__img-2,
    .hero__img-3 {
        visibility: hidden;
    }

    .atelier__presentation {
        padding: 50px 0 200px 0;
        gap: 100px;
    }

    .atelier__presentation h2 {
        padding-top: 0;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 475px) {
    .hero {
        padding: 50px 0;
    }

    .projects__section {
        flex-direction: column;
    }

    .projects__list {
        width: 100%;
        margin-top: 100px;
    }
}