/**** section atelier__presentation ****/

.atelier__presentation {
    display: flex;
    flex-direction: column;
}

.atelier__presentation__title {
    margin-bottom: 50px;
}

.atelier__presentation__text {
    margin-bottom: 30px;
}